{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<div style="width:100%;"> 
  <svg width="100%" viewBox="0 0 1440 527" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(0,-230)">
  <defs>
    <linearGradient id="bicolored">
            <stop offset="57%" stop-color="white"/>
            <stop offset="10%" stop-color="#ffae42"/>
        </linearGradient>
  </defs>
  <path d="M774.496 497.267C336.519 583.714 75.6749 461.248 0 389.209V0H1440V427.73C1400.66 414.89 1212.47 410.821 774.496 497.267Z" fill="#3563DB"/>
  <text style="font-weight:bold;" x="15%" y="60%" fill="white" font-size ="40">Why we built Run-Am</text>
  
  <p style="margin-top: -230px; margin-left:320px;margin-right:320px;">
    Fake news is a widespread problem in Nigeria, and it is vital that we make sure that we are informed in our society. According to a study from Pierce College, there were over 8.7 million users engaging with fake news on Facebook alone. In the backdrop of the coming general election in 2023 in the country, it is important to ensure that readers know what information is true or not. The application, News Source Verification feature of Run-Am, helps to filter whether the news headline is from verified and unverified sources and informs the users on what news items are verified or not. The Run-Am application is built with the Artificial Intelligence methodology of Natural Language Processing!
  </p>
  
  <g>    
  </svg>
</div>
{% endblock content %}
